[project]
	description = OpenCL bindings for Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jens Schumann (schumajs)
[access "refs/for/refs/*"]
	read = group user/Jens Schumann (schumajs)
	push = group user/Jens Schumann (schumajs)
	label-Code-Review = -2..+2 group user/Jens Schumann (schumajs)
	label-Verified = -1..+1 group user/Jens Schumann (schumajs)
	rebase = group user/Jens Schumann (schumajs)
	removeReviewer = group user/Jens Schumann (schumajs)
	submit = group user/Jens Schumann (schumajs)
[access "refs/heads/*"]
	read = group user/Jens Schumann (schumajs)
	create = group user/Jens Schumann (schumajs)
	push = +force group user/Jens Schumann (schumajs)
	pushMerge = group user/Jens Schumann (schumajs)
[access "refs/tags/*"]
	push = +force group user/Jens Schumann (schumajs)
	pushTag = group user/Jens Schumann (schumajs)
	pushSignedTag = group user/Jens Schumann (schumajs)
